@using System.Security.Claims
@{
    ViewData["Title"] = "Inicio";
}

<h1 class="" style="text-align: center; margin-top: 50px" >
    @User.Claims.First(x => x.Type == ClaimTypes.Name).Value, seja bem-vindo.
</h1>

